src/Quartz.Management.Presentation.Mvc/Service References/WcfServiceLayer/SchedulerReadFacadeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SchedulerReadFacadeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3406/SchedulerReadService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3406/SchedulerReadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3406/SchedulerReadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Quartz.Management.Dto.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISchedulerReadFacadeService_ReadOverviewData_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadOverviewData" />
  </wsdl:message>
  <wsdl:message name="ISchedulerReadFacadeService_ReadOverviewData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadOverviewDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISchedulerReadFacadeService_ReadJobDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadJobDetail" />
  </wsdl:message>
  <wsdl:message name="ISchedulerReadFacadeService_ReadJobDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadJobDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="ISchedulerReadFacadeService">
    <wsdl:operation name="ReadOverviewData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchedulerReadFacadeService/ReadOverviewData" message="tns:ISchedulerReadFacadeService_ReadOverviewData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchedulerReadFacadeService/ReadOverviewDataResponse" message="tns:ISchedulerReadFacadeService_ReadOverviewData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadJobDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchedulerReadFacadeService/ReadJobDetail" message="tns:ISchedulerReadFacadeService_ReadJobDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchedulerReadFacadeService/ReadJobDetailResponse" message="tns:ISchedulerReadFacadeService_ReadJobDetail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISchedulerReadFacadeService" type="tns:ISchedulerReadFacadeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadOverviewData">
      <soap:operation soapAction="http://tempuri.org/ISchedulerReadFacadeService/ReadOverviewData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadJobDetail">
      <soap:operation soapAction="http://tempuri.org/ISchedulerReadFacadeService/ReadJobDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SchedulerReadFacadeService">
    <wsdl:port name="BasicHttpBinding_ISchedulerReadFacadeService" binding="tns:BasicHttpBinding_ISchedulerReadFacadeService">
      <soap:address location="http://localhost:3406/SchedulerReadService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>