src/Quartz.Management.Presentation.Mvc/Service References/WcfServiceLayer/SchedulerReadService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3406/SchedulerReadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Quartz.Management.Dto.Model" />
  <xs:element name="ReadOverviewData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadOverviewDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Quartz.Management.Dto.Model" minOccurs="0" name="ReadOverviewDataResult" nillable="true" type="q1:OverviewDataDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadJobDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="group" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadJobDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Quartz.Management.Dto.Model" minOccurs="0" name="ReadJobDetailResult" nillable="true" type="q2:JobDetailDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>